name: Build and Publish

on:
  workflow_dispatch:
    inputs:
      publish_target:
        description: "Select target pypi environment"
        required: true
        default: "testpypi"
        type: choice
        options:
          - testpypi
          - pypi

permissions:
  contents: read

jobs:
  build-wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64

          - os: windows-latest
            arch: AMD64

          - os: macos-15-intel  # Intel
            arch: x86_64

          - os: macos-latest  # Apple Silicon
            arch: arm64

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Set vcpkg cache path
        id: vcpkg-cache
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            echo "path=C:/vcpkg-cache" >> $GITHUB_OUTPUT
          else
            echo "path=$HOME/.cache/vcpkg/archives" >> $GITHUB_OUTPUT
          fi

      - name: Create vcpkg cache directory
        run: mkdir -p "${{ steps.vcpkg-cache.outputs.path }}"
        shell: bash

      - name: Cache vcpkg binaries
        uses: actions/cache@v5
        with:
          path: ${{ steps.vcpkg-cache.outputs.path }}
          key: vcpkg-release-${{ runner.os }}-${{ matrix.arch }}-${{ hashFiles('vcpkg.json') }}
          restore-keys: |
            vcpkg-release-${{ runner.os }}-${{ matrix.arch }}-

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel

      - name: Build wheels
        run: python -m cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: "cp38-* cp39-* cp310-* cp311-* cp312-* cp313-*"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_SKIP: "cp*-musllinux_*"
          CIBW_ARCHS_WINDOWS: "${{ matrix.arch }}"
          CIBW_ARCHS_MACOS: "${{ matrix.arch }}"
          CIBW_ARCHS_LINUX: "${{ matrix.arch }}"
          CIBW_ENVIRONMENT_LINUX: "VCPKG_DEFAULT_BINARY_CACHE=/host${{ steps.vcpkg-cache.outputs.path }}"
          CIBW_ENVIRONMENT_MACOS: "MACOSX_DEPLOYMENT_TARGET=11.0 VCPKG_DEFAULT_BINARY_CACHE=${{ steps.vcpkg-cache.outputs.path }}"
          CIBW_ENVIRONMENT_WINDOWS: "VCPKG_DEFAULT_BINARY_CACHE=${{ steps.vcpkg-cache.outputs.path }}"
          CIBW_BEFORE_ALL_MACOS: |
            brew install ninja
          CIBW_BEFORE_ALL_LINUX: |
            yum install -y zip unzip gcc gcc-c++ make tar curl perl perl-IPC-Cmd ninja-build

      - name: Upload built wheels
        uses: actions/upload-artifact@v5
        with:
          name: vanillapdf-wheels-${{ matrix.os }}-${{ matrix.arch }}
          path: dist

  publish:
    name: Publish to Python Package Index
    needs: build-wheels
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.publish_target }}
      url: ${{ vars.PYPI_PROJECT_URL }}

    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - uses: actions/download-artifact@v6
        with:
          path: dist
          pattern: vanillapdf-wheels-*
          merge-multiple: true

      - name: Publish to ${{ github.event.inputs.publish_target }} (Trusted Publisher)
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{ vars.PYPI_REPOSITORY_URL }}
          print-hash: true
          verbose: true
